$black:#000000;
$black-card:#181818;
$grey:#282828;
$grey-bg:#303030;
$linear:Linear;
$linear-65:Linear 65;
$green:#159643;
$green-bold:#004638;
$white:#FFFFFF;     
$text:#B3B3B3;     

:export {
primary:$black;
secondary:$grey;
success:$green;
successDark:$green-bold;
light:$white;
lightText:$text;
bgGrey:$grey-bg;
darkCard:$black-card
}

